In [2]:
import pandas as pd

In [31]:
df = pd.DataFrame([[17,0,3],
                   [19,0,1],
                   [21,0,5],
                   [19,0,4]
                  ], columns=["age","underaged","value3"])
n = 0
def filter(row):
    if row['age'] < 19:
        val = True
        print('{}Underaged person found'.format(n))
        n += 1
    else:
        val = False
    return val

df['underaged'] = df.apply(filter, axis=1)
df

UnboundLocalError: ("local variable 'n' referenced before assignment", 'occurred at index 0')

In [20]:
df.loc[df['age'] == 19]

   age  value2  value3
1   19       3       1
3   19       2       4

   age  underaged  value3 underage
0   17          0       3     True
1   19          0       1    False
2   21          0       5    False
3   19          0       4    False

In [35]:
import itertools

liste = []
stuff = [1, 2, 3, 4]
for L in range(0, len(stuff)+1):
  for subset in itertools.combinations(stuff, L):
    print((subset))
    liste.append(subset)
    
len(liste) -1

()
(1,)
(2,)
(3,)
(4,)
(1, 2)
(1, 3)
(1, 4)
(2, 3)
(2, 4)
(3, 4)
(1, 2, 3)
(1, 2, 4)
(1, 3, 4)
(2, 3, 4)
(1, 2, 3, 4)

15

In [41]:
print(list(itertools.combinations(stuff, 3)))

[(1, 2, 3), (1, 2, 4), (1, 3, 4), (2, 3, 4)]

room.dooropen()==1 ->